  
header{
   position: fixed;
   top: 0;
   left: 0;
   background-color:white;
   border: white 3px solid;
   width: 100%;
   height: 70px;
}
.nid{
   display: flex;
   justify-content: space-around;
   color: #00b39b;
}
.fatou{
   display: flex;
   justify-content: space-between;
}
.fatou a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 15px;
}
.wiwi{
   margin-top: 15px;
}
.hj{
width: 300px;
margin-left: 150px;
}
.curry{
   color: #978e8e;
}
.carry{
   color: #00b39b;

}
.sousou{
   margin-top: 80px;
   margin-left: 470px;
   margin-bottom: -200px;
}
     .neki{
      align-items: center;
     }
     .container-fluide{
      background-color: white;
      height: 80%;
      line-height: 200%;
      font-family: 'Roboto';
      justify-content: center;
     }
     .main{
      margin-left: 450px;
      margin-right: 450px;
     }
     .container-fluide1{
      margin-top: 10%;
      transition: 5s;
     }
     .green{
      font-size: 250%;
      text-align: center;
      margin: 1em 0;
    font-family:sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
    font-size: 2.125rem;
    color: #00b39b;
    margin-top: 200px;
}
#div1{
   background-color: #00b39b;
   color: white;
   margin-right: 2%;
   border: 3px solid #00b39b ;
   border-radius: 10px;
   width: 33%;
   padding-top: 60px;
   font-family: 'Work Sans', sans-serif;
   transition: 3s;
}
#div2{
   border: 3px solid #3d83df;
   border-radius: 10px;
   margin-right: 2%;
   background-color:#3d83df ;
   height: 350px;
   width: 33%;
   padding-top: 60px;
   font-family: 'Work Sans', sans-serif;
   }
#div3{
   background-color: rgb(34, 32, 32);
   border: 3px solid rgb(34, 32, 32);
   border-radius: 10px;
   margin-right: 2%;
   width: 33%;
   padding-top: 60px;
   font-family: 'Work Sans', sans-serif;
}
.container-fluide1 {
   color: azure;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.choco{
   display: block;
    margin: 0 auto;
    height: 4%;
    width: 4%;
}
.col-3{
   width: 30%;
}
body{
   font-family:Arial,sans-serif;
}
.div-local{
   margin-top: 4%;
   font-size: 24px;
   color: #5fcdbe;
   font-family:Arial,sans-serif;
   margin-left: 450px;
   line-height: 9px;
   margin-bottom: 5%;
   display: flex;
   justify-content: center;
}
.docplanner{
   display: flex;
   flex-direction: column;
}
.flag{
   width: 30px;
   height: 50px;
   margin-bottom: 40px;
}
.logo-doc{
   width: 450px;
   height: 450px;
}
.row{
   flex-wrap: nowrap;
   margin: 1%;
}
.imgo{
   width: 100px;
   height: 80px;
   margin: 10px;
}
.col-6{
   color: #747474;
   font-size: 16px;
   line-height: 28px;
}
.green{
   color: #00b39b;
   font-size: 34px;
   line-height: 40.8px;
   font-family: 'Work Sans', sans-serif;
}
.poor{
   font-family: 'Work Sans', sans-serif;
   margin-left: -500px;
}
.imga{
   justify-content: center;
   margin-top: -40px;
   padding-left: 100px;
}
.divlogo1{
   display: flex;
}
.imga1{
   display: flex;
}
.improve{
   color:#00b39b ;
   font-family: 'Work Sans', sans-serif;
   font-size: 28px;
   text-align: center;
   padding-top: 50px;
   position: absolute;
   background-color: white;
   padding-left: 700px;
   padding-right: 700px;
   height: 230px;
}
.mask{
   font-family: 'Roboto';
   font-size: 14px;
   line-height: 24px;
   color: #747474;
}
.voyage{
   
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.travel{
   border: 3px solid white;
   margin-bottom: 100px;
   height: 330px;
   width: 309px;
   border-radius: 5px;
   margin-right: 10px;
}
#mimi{
   font-family: 'Work Sans', sans-serif;
}
.patient{
   margin-left: 10px;
   margin-top: -100px;
   width: 30px;
}
.doctors{
   margin-left: 10px;
   margin-top: -100px;
   width: 30px;
}
.clinics{
   margin-left: 10px;
   margin-top: -100px;
   width: 30px;
   margin-bottom: 0px;
}
.sons{
   font-family: 'Work Sans', sans-serif;
   text-align: center;
}
footer{
   font-family: 'Roboto';
   font-size: 12px;
   line-height: 15.6px;
   text-align: center;
   margin-top: 100px;
}
.Poland{
   color: #3d83df;
}
.dodo{
   color: #ababab;
   margin-bottom: 20px;
}
.voyage{
   margin-left: 20%;
   margin-right: 14%;
   align-items: center;
   margin-top: 12%;
}
.class{
   width: 300px;
   height: 300px;
    border: white 3px solid;
    border-radius: 5px;
}
.btn{
   background-color: #3d83df;
   padding: 2px;
   font-size: large;
}
.soda{
    display: flex;
    flex-direction: row;
    background-color: #d6f7f3;
    height: 580px;
    padding-left: 400px;
    padding-top: 100px;
}
.mafe{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:#d6f7f3 ;
  margin-left: 120px;
  display: flex;
  margin-top: -60px;
}
.gamel{
   margin-top: -40px;
}
.baba{
   background-color: white;
   height: 250px;
   width: 220px;
   border: 3px solid white;
   border-radius: 5px;
   margin: 5px;
   margin-bottom: 10px;
   margin-left: 10px;
   align-items: center;
   text-align: center;
   color: #00b39b;
   line-height: 16.9px;
   font-size: 13px;
   font-family: 'Roboto';
}
.baba img{
   margin-top: 30px;
}
.work{
   font-family: 'Work Sans', sans-serif;
}
.sons{
   margin-top: 300px;
}
 .travelo{
   border: 3px solid white;
   margin-bottom: 100px;
   height: 300px;
   width: 309px;
   border-radius: 5px;
   margin-right: 1000px;
} 
#listd{
   background-color: #00b39b;
   color: white;
   border: none;
}
#listd1{
background-color: #3d83df;
border: none;
border: 0 solid transparent;

}
#listd2{
background-color: black;
color: white;
border: none;

}
.button{
   background-color: rgb(252, 248, 248);
   display: flex;
   justify-content: space-around;
   border-radius: 0 0 10px 10px;
}
.pays{
   font-size: larger;
   margin-top: 5px;
}
#footer{
padding: 10px;
}
.barry{
   font-family: 'Work Sans', sans-serif;
  font-size: 30px;
}
option{
   background-color: white;
   color: black;
}